@model MVCProductAssignment.Customers_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customers_Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.customerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductTable.proName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductTable.proName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.customerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
